<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
       align="center">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nom</th>
        <th class="mdl-data-table__cell--non-numeric">Lloc</th>
        <th class="mdl-data-table__cell--non-numeric">Data inici</th>
        <th class="mdl-data-table__cell--non-numeric">Data fi</th>
        <th class="mdl-data-table__cell--non-numeric">Barri</th>
        <th class="mdl-data-table__cell--non-numeric">Adreça</th>
        <th class="mdl-data-table__cell--non-numeric">Aparcaments
            propers
        </th>
        <th class="mdl-data-table__cell--non-numeric">Bicing
            propers
        </th>
    </tr>
    </thead>
    <tbody>
        {}
    </tbody>
</table>
</body>
</html>